<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layanan | Garasi Bewok</title>
    <link rel="icon" href="../garasibewok/public/images/logo/GB Logo.png">

    <!-- CSS -->
    <link rel="stylesheet" href="../garasibewok/public/css/styles.css">
    <link rel="stylesheet" href="../garasibewok/public/css/global.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>

    <!-- Script Ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Section -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/graphik-trial" rel="stylesheet">

</head>
<body class="body-font mb-20">
    <!-- Navbar -->
    <nav class="navbar mb-8">
        <div class="logo">GARASIBEWOK</div>
        <ul>
            <li><a href="index.php?page=index">Beranda</a></li>
            <li class="underline"><a href="index.php?page=layanan">Layanan</a></li>
            <li><a href="index.php?page=parts">Parts</a></li>
            <li><a href="index.php?page=tentang-kami">Tentang Kami</a></li>
            <?php if (isset($_SESSION['nama'])): ?>
                <a href="../garasibewok/public/php/logout.php" class="ml-6 px-4 py-2 bg-black text-white focus:outline-none">
                    Logout
                </a>
                <div class="flex items-center px-4 py-2 bg-white text-black border border-black focus:outline-none">
                    <i class="fas fa-user mr-2"></i>
                    <?php echo htmlspecialchars($_SESSION['nama']); ?>
                </div>
            <?php else: ?>
                <a href="../garasibewok/auth/login.html" class="ml-6 px-4 py-2 bg-black text-white focus:outline-none">
                    Login
                </a>
            <?php endif; ?>
        </ul>
    </nav>

    <div class="relative">
        <img class="w-full h-[50vh] object-cover" src="../garasibewok/public/images/layanan/header.jpg" alt="">
        <div class="carousel-caption w-full h-full bg-black/50 flex justify-center items-center">
            Temukan layanan<span class="font-bold italic mx-2">GARASIBEWOK</span> disini!
        </div>
    </div>

    <!-- Search Form -->
    <form id="searchForm" class="w-full mt-8 px-16">
        <input type="text" id="searchInput" name="search" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-black" value="" placeholder="Cari layanan...">
        <button type="submit" class="mt-2 w-full py-2 bg-black text-white rounded-lg">Cari</button>
    </form>

    <!-- Result Search -->
    <div id="searchResults" class="mt-5 px-10 flex flex-wrap justify-center gap-10">
    </div>

    <!-- Recomendation Section -->
    <div class="bg-black/90 mt-8 py-5">
        <div class="px-10 flex flex-col justify-center text-white">
            <h2 class="text-center font-semibold text-3xl">Rekomendasi Layanan Terbaik <span class="font-bold italic">GARASIBEWOK</span></h2>
            <p class="text-center">Kami menyediakan rekomendasi layanan untuk referensi anda dalam memilih layanan dengan lebih mudah.</p>
        </div>

        <div class="mt-5 px-10 flex flex-wrap justify-center gap-10">

            <!-- Card 1 -->
            <div class="max-w-sm bg-white border border-gray-300 rounded-lg drop-shadow-md transition duration-300 ease-in-out hover:scale-105">
                <a href="#">
                    <img class="rounded-t-lg w-full h-72 object-cover" src="../garasibewok/public/images/layanan/tune up.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Overall Tuning Up (OTU)</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">Penggantian oli mesin, pembersihan sistem bahan bakar, pengecekan sistem kelistrikan, perawatan sistem rem, dan kondisi mesin.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg focus:outline-none">
                        Baca lebih lanjut
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="max-w-sm bg-white border border-gray-300 rounded-lg drop-shadow-md transition duration-300 ease-in-out hover:scale-105">
                <a href="#">
                    <img class="rounded-t-lg w-full h-72 object-cover" src="../garasibewok/public/images/layanan/ganti-oli.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Pergantian Oli</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">Layanan penggantian oli mesin untuk menjaga performa mesin, kebersihan internal, dan mencegah kerusakan akibat pelumasan yang buruk.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg focus:outline-none">
                        Baca lebih lanjut
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="max-w-sm bg-white border border-gray-300 rounded-lg drop-shadow-md transition duration-300 ease-in-out hover:scale-105">
                <a href="#">
                    <img class="rounded-t-lg w-full h-72 object-cover" src="../garasibewok/public/images/layanan/kampas-rem.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Pergantian Kampas Rem</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">Perawatan sistem pengereman dengan mengganti kampas rem yang sudah aus. Juga melibatkan pengecekan sistem pendukung rem lainnya.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg focus:outline-none">
                        Baca lebih lanjut
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-8 fixed bottom-0 w-full bg-white text-black text-center py-4">
        © 2025 <span class="font-bold italic">GARASIBEWOK</span>. All Rights Reserved.
    </footer>  

    <script>
        document.querySelectorAll('.max-w-sm').forEach(card => {
            card.querySelector('a.inline-flex').addEventListener('click', function(event) {
                event.preventDefault();
                
                const title = card.querySelector('h5').textContent.trim();
                
                alert(`Anda telah memilih layanan "${title}"`);
            });
        });
    </script>

    <script>
        function loadAllData() {
            $.ajax({
                url: '/garasibewok/public/php/searchLayanan.php',
                type: 'GET',
                data: { search: '' },
                success: function(response) {
                    $('#searchResults').html(response);
                }
            });
        }

        $(document).ready(function() {
            loadAllData();

            $('#searchForm').on('submit', function(event) {
                event.preventDefault();

                var searchQuery = $('#searchInput').val();

                $.ajax({
                    url: '/garasibewok/public/php/searchLayanan.php',
                    type: 'GET',
                    data: { search: searchQuery },
                    success: function(response) {
                        $('#searchResults').html(response);
                    }
                });
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>